<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>xTest-Webpack</title>
</head>

<body>

<div class="get-word-length">
    <label for="get-word-length">Wprowadz dlugość szukanego słowa</label>
    <input class="get-word-length__input" type=number id="get-word-length" value="5">
    <button class="get-word-length__generate-input">Generuj pola do wpisania liter</button>
</div>

<div class="generate-inputs-word">
    <p class="generate-inputs-word__title" style="display: none">Wprowadź litery które już znasz</p>
    <div class="generate-inputs-word__field"></div>
</div>


<script src="main.bundle.js"></script>
</body>

</html>
